@use '../../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .LefterToggle_Button {
      background-color: white;
      border-color: v.$SAKURA_BORDER;
      border-radius: 50%;
      border-width: 2px;

      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

      color: v.$SAKURA_TEXT;
      font-size: 22px;
      height: fit-content;

      margin-left: 12px;

      padding: 4px;

      transition: box-shadow 0.4s ease, transform 0.7s ease;

      &:hover {
        background-color: v.$SAKURA_BG_30;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
      }

      &._open {
        transform: translateX(0);
      }
      &._close {
        transform: translateX(-200px);
      }
    }
  }
}
