.ClubMember_Page.CliengPages {
  ._container_page {
    display: flex;
    flex-direction: row;

    gap: 40px;

    height: fit-content;

    margin-left: 140px;
    margin-top: 8px;

    width: 100%;
  }
}
