.ClubMember_Page.CliengPages {
  ._container_page {
    display: flex;
    flex-direction: row;

    gap: 40px;

    height: fit-content;

    margin-left: 200px;
    margin-top: 40px;

    width: fit-content;
  }
}
