@use '../../../../base/styles/values.scss' as v;

.ClubMember_Page.CliengPages {
  ._container_page {
    color: v.$SAKURA_TEXT;
    display: flex;
    flex-direction: row;

    gap: 40px;

    height: fit-content;

    margin-left: 190px;
    margin-top: 8px;

    padding-bottom: 16px;

    width: 100%;
  }
}
