@use '../../../../base/styles/values.scss' as v;

.MemberInfo_Subpage {
  .MemberSpec_Part {
    border-color: v.$SAKURA_BORDER;
    border-right-width: 4px;

    display: flex;
    flex-direction: column;

    width: 400px;

    ._header_part {
      display: flex;
      flex-direction: row;

      width: 100%;

      ._title_part {
        font-size: 24px;
        font-weight: 700;

        user-select: none;
      }
    }
  }
}
