.Template {
  .Body {
    .ClubMember_Page {
      .MemberValue_Object {
        display: flex;
        flex-direction: row;

        margin-top: 12px;

        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
