@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubMember_Page {
      .MemberInfo_Subpage {
        &._No_Member {
          border-color: transparent;
          color: transparent !important;
        }

        border-color: v.$SAKURA_BORDER;
        border-radius: 10px;
        border-width: 4px;

        display: flex;
        flex-direction: row;

        height: 700px;
        width: 1120px;
      }
    }
  }
}
