@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubMember_Page {
      .MemberList_Subpage {
        table.MemberTable_Part {
          border-collapse: collapse;
          border-color: v.$SAKURA_BORDER;
          border-radius: 10px;
          border-width: 6px;

          cursor: default;

          height: fit-content;

          margin-top: 8px;
          width: fit-content;

          thead {
            tr {
              border-color: v.$SAKURA_BORDER;
              border-bottom-width: 4px;

              th {
                padding-top: 2px;
                padding-bottom: 2px;

                &:hover {
                  background-color: v.$SAKURA_BG;
                }
              }

              ._th_crown {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;
                width: 36px;
              }
              ._th_name {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;
                font-size: 18px;
                font-weight: 700;
                width: 160px;
              }
              ._th_batterPower {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;
                font-size: 18px;
                font-weight: 700;
                width: 64px;
              }
              ._th_pitcherPower {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;
                font-size: 18px;
                font-weight: 700;
                width: 64px;
              }
              ._th_info {
                font-size: 18px;
                font-weight: 700;
                user-select: none;
                width: 36px;
              }
            }
          }

          tbody {
            tr.__blue {
              border-color: oklch(0.8 0.5 240);
              border-bottom-width: 3px;
            }
            tr.__green {
              border-color: oklch(0.8 0.5 120);
              border-bottom-width: 3px;
            }
            tr {
              border-bottom-width: 2px;
              border-color: v.$SAKURA_BORDER;

              &:hover {
                background-color: v.$SAKURA_BG;
              }

              td {
                height: fit-content;

                padding-top: 1px;
                padding-bottom: 1px;
              }

              ._td_crown {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;
                text-align: center;
              }
              ._td_name {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;
                padding-left: 8px;
              }
              ._td_batterPower {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;

                padding-right: 6px;
                text-align: right;
              }
              ._td_pitcherPower {
                border-color: v.$SAKURA_BORDER;
                border-right-width: 2px;

                padding-right: 6px;
                text-align: right;
              }
              ._td_info {
                text-align: center;

                i {
                  color: v.$SAKURA_TEXT;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
