.MemberInfo_Subpage {
  .MemberDeck_Part {
    display: flex;
    flex-direction: column;

    overflow-x: auto;
    overflow-y: auto;

    padding-left: 16px;

    width: 750px;

    ._deck_row {
      display: flex;
      flex-direction: row;

      gap: 16px;

      margin-top: 32px;

      width: fit-content;

      ._card_cp {
        margin-left: 20px;
      }
    }
  }
}
