@use '../../../../base/styles/values.scss' as v;

.MemberList_Subpage {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: fit-content;

  ._title_subpage {
    color: v.$SAKURA_TEXT;
    font-size: 24px;
    font-weight: 700;

    margin-top: 8px;

    user-select: none;
  }
}
