@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubMember_Page {
      .RecordBody_Module {
        tr {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;

          &:last-child {
            border-bottom-width: 0px;
          }

          td {
            font-size: 14px;
            text-align: center;
          }

          ._td_br_2 {
            border-color: v.$SAKURA_BORDER;
            border-right-width: 2px;
          }
        }
      }
    }
  }
}
