@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubMember_Page {
      .RecordHead_Module {
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 2;

        tr {
          background-color: white;
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 1px;
          font-size: 18px;

          &.tr_head_shadow {
            th {
              background-color: v.$SAKURA_BORDER;
              height: 6px;
            }
          }

          ._th_date {
            width: 64px;
          }
          ._th_cond {
            width: 30px;
          }
          ._th_result {
            width: 30px;
          }
          ._th_comment {
            width: 30px;
          }
          ._th_club {
            width: 200px;
          }

          ._br_2 {
            border-color: v.$SAKURA_BORDER;
            border-right-width: 2px;
          }
          ._br_4 {
            border-color: v.$SAKURA_BORDER;
            border-right-width: 4px;
          }
        }
      }
    }
  }
}
