$SAKURA_BORDER: #f0b8b8;
$SAKURA_BORDER_DEEP: #e890a8;
$SAKURA_BG: #f8e8e0;
$SAKURA_BG_30: #fdf8f6;
$SAKURA_BG_50: #fbf3ef;
$SAKURA_BG_70: #faefe9;
$SAKURA_TEXT: #f89890;
$SAKURA_TEXT_DEEP: #f05858;
