@use '../../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    ._container_lefter {
      // 기본 행 스타일
      ._row {
        align-items: center;
        border-color: #dddddd;
        border-bottom-width: 1px;
        color: v.$SAKURA_TEXT;
        cursor: pointer;

        display: flex;
        flex-direction: row;

        font-size: 22px;
        font-weight: 700;

        width: 100%;

        &:first-child {
          border-top-width: 1px;
        }

        &:hover {
          background-color: v.$SAKURA_BG_30;
        }

        ._title_row {
          padding-left: 12px;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        ._selected_padding {
          padding-left: 12px;

          transition: transform 0.3s ease, visibility 0.3s ease, width 0.3s ease;

          &._selected {
            transform: translateX(0);
            visibility: visible;
            width: fit-content;
          }

          &._unselected {
            transform: translateX(-100%);
            visibility: hidden;
            width: 0;
          }
        }
      }

      // 클럽별로 회의록, 멤버, 대전기록 행 스타일
      ._row._row_club {
        border-color: #dddddd;
        border-bottom-width: 1px;
        flex-direction: column;
        font-size: 22px;

        &:hover {
          background-color: transparent;
        }

        ._title_container_row {
          align-items: center;
          display: flex;
          flex-direction: row;
          width: 100%;

          transition: transform 0.3s ease;

          &:hover {
            background-color: v.$SAKURA_BG_30;
          }

          ._button_toggle_row {
            font-size: 32px;
            margin-left: auto;
          }
        }

        ._part_row_club {
          align-items: center;
          border-color: #dddddd;
          border-top-width: 1px;

          display: flex;
          flex-direction: row;
          font-size: 18px;

          padding-left: 40px;
          padding-top: 5px;
          padding-bottom: 5px;

          width: 100%;

          &:hover {
            background-color: v.$SAKURA_BG_30;
          }

          ._icon_selected {
            font-size: 24px;
            font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 2000, 'opsz' 24;
            margin-left: auto;
            margin-right: 20px;

            transition: 0.3s ease;
          }
        }
      }
    }
  }
}
