@use '../../../base/styles/values.scss' as v;

.RowMembeAdd_Modal.MODAL_Contents {
  padding-top: 16px;
  padding-bottom: 16px;

  padding-left: 40px;
  padding-right: 40px;

  ._form_modal {
    margin-top: 24px;
  }

  ._position_selector_form {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding: 4px;

    ._position_icon {
      align-content: center;
      border-color: v.$SAKURA_BORDER;
      border-radius: 50%;
      border-width: 3px;
      border-style: solid;

      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

      cursor: pointer;

      font-size: 24px;

      height: 50px;

      text-align: center;
      transition: background-color 0.2s ease, box-shadow 0.2s ease;

      width: 50px;

      &:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      }

      &._selected {
        background-color: v.$SAKURA_BG_50;
        box-shadow: 0 0 8px 0 rgba(255, 105, 180, 0.6);
      }
    }
  }

  ._button_row_form {
    gap: 24px;
  }

  button._button_form {
    height: 48px;
    width: 108px;
  }
}
