.UserAdd_Modal.MODAL_Contents {
  padding-top: 16px;
  padding-bottom: 16px;

  padding-left: 40px;
  padding-right: 40px;

  ._form_modal {
    margin-top: 24px;
  }

  ._button_row_form {
    gap: 24px;
    margin-top: 16px;
  }

  button._button_form {
    height: 48px;
    width: 108px;
  }
}
