@use '../../../../base/styles/values.scss' as v;

.__Common_Chat_Object_Styles {
  display: flex;
  flex-direction: column;

  font-size: 14px;

  width: fit-content;

  ._content_container {
    border-radius: 8px;
    border-width: 2px;

    cursor: default;

    max-width: 240px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    width: fit-content;
  }
}

.ChatMy_Object {
  @extend .__Common_Chat_Object_Styles;

  margin-left: auto;
  margin-top: 8px;

  ._content_container {
    border-color: oklch(0.7 0.05 205);
    background-color: oklch(0.98 0.05 205);

    margin-right: 6px;
  }
}

.ChatOther_Object {
  @extend .__Common_Chat_Object_Styles;

  margin-top: 4px;

  ._user_name_object {
    cursor: default;

    font-size: 16px;
    font-weight: 700;

    margin-bottom: 2px;
    margin-left: 4px;
  }

  ._content_container {
    border-color: #888888;
    background-color: white;

    margin-left: 10px;
  }
}
