@use '../../../../base/styles/values.scss' as v;

.ClubDiscuss_Page {
  ._container_page {
    display: flex;
    flex-direction: row;

    gap: 120px;

    margin-top: 24px;

    width: fit-content;

    .ClubDoc_SubPage {
      border-color: v.$SAKURA_BORDER;
      border-radius: 10px;
      border-width: 2px;

      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

      display: flex;
      flex-direction: column;
      height: fit-content;

      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;

      position: relative;

      transition: box-shadow 0.4s ease;

      width: fit-content;

      &:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
      }
    }

    .ClubChatRoom_SubPage {
      border-color: v.$SAKURA_BORDER;
      border-radius: 10px;
      border-width: 2px;

      height: 600px;

      width: 320px;

      ._title_subpage {
        color: v.$SAKURA_TEXT;

        font-size: 24px;
        font-weight: 700;

        text-align: center;
      }
    }
  }
}
