@use '../../base/styles/values.scss' as v;

.Template {
  .Header {
    ._logout_button {
      color: v.$SAKURA_TEXT;
      font-size: 28px;

      position: absolute;
      right: 16px;
      top: 8px;
    }
    ._logout_button:hover {
      font-size: 32px;
    }

    ._title_header {
      color: v.$SAKURA_TEXT;
      cursor: pointer;

      font-size: 32px;
      font-weight: 700;

      margin-top: 16px;
      margin-bottom: 16px;

      user-select: none;
    }
  }
}
