@use '../../base/styles/values.scss' as v;

$LEFTER_HEIGHT: 600px;
$LEFTER_WIDTH: 220px;

.Template {
  .Body {
    .Lefter {
      display: flex;
      flex-direction: row;

      height: fit-content;

      // left: 0px;
      // position: absolute;
      // top: 12px;
      position: fixed;
      top: 84px;
      left: 0px;

      user-select: none;

      width: fit-content;

      z-index: 20;

      ._container_lefter {
        background-color: v.$SAKURA_BG;

        border-color: v.$SAKURA_BORDER;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-width: 2px;

        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

        height: $LEFTER_HEIGHT;

        overflow-x: hidden;
        overflow-y: scroll;

        padding-top: 12px;

        transition: box-shadow 0.4s ease, visibility 0.7s ease, transform 0.7s ease, width 0.7s ease;

        &:hover {
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
        }

        &._close {
          visibility: hidden;
          transform: translateX(-200px);
          pointer-events: none;
          width: 0px;
        }

        &._open {
          visibility: visible;
          transform: translateX(0);
          width: $LEFTER_WIDTH;
        }

        ._row {
          align-items: center;
          border-color: #dddddd;
          border-bottom-width: 1px;
          color: v.$SAKURA_TEXT;
          cursor: pointer;

          display: flex;
          flex-direction: row;

          font-size: 22px;
          font-weight: 700;

          width: 100%;

          &:first-child {
            border-top-width: 1px;
          }

          &:hover {
            background-color: v.$SAKURA_BG_30;
          }

          ._title_row {
            padding-left: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        ._row._row_club {
          border-color: #dddddd;
          border-bottom-width: 1px;
          flex-direction: column;
          font-size: 18px;

          &:hover {
            background-color: transparent;
          }

          ._title_container_row {
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 100%;

            ._button_toggle_row {
              font-size: 32px;
              margin-left: auto;
            }

            &:hover {
              background-color: v.$SAKURA_BG_30;
            }
          }

          ._part_row_club {
            border-color: #dddddd;
            border-top-width: 1px;

            padding-left: 40px;
            padding-top: 5px;
            padding-bottom: 5px;

            width: 100%;

            &:hover {
              background-color: v.$SAKURA_BG_30;
            }
          }
        }
      }

      .LefterToggle_Button {
        background-color: white;
        border-color: v.$SAKURA_BORDER;
        border-radius: 50%;
        border-width: 2px;

        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

        color: v.$SAKURA_TEXT;
        font-size: 22px;
        height: fit-content;

        margin-left: 12px;

        padding: 4px;

        transition: box-shadow 0.4s ease;

        &:hover {
          background-color: v.$SAKURA_BG_30;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
