@use '../../base/styles/values.scss' as v;

.Template {
  align-items: center;
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  .Header {
    align-items: center;

    display: flex;
    flex-direction: column;

    height: fit-content;

    position: relative;

    width: 100%;
  }
}
