@use '../../base/styles/values.scss' as v;

.Template {
  align-items: center;
  display: flex;
  flex-direction: column;

  height: 1000px;
  overflow-x: hidden; // Lefter가 화면 밖으로 나갈 때 가로 스크롤 방지

  width: 1904px;

  .Header {
    align-items: center;

    display: flex;
    flex-direction: column;

    height: fit-content;

    position: relative;

    width: 100%;
  }

  .Body {
    align-items: center;

    display: flex;
    flex-direction: column;

    height: 800px;
    overflow-x: hidden; // Lefter가 Body 영역을 넘어가도 스크롤 생성 방지
    overflow-y: auto;

    position: relative;

    width: 100%;
  }

  .Footer {
    align-items: center;

    background-color: v.$SAKURA_TEXT;
    color: #ffffff;

    display: flex;
    flex-direction: column;

    margin-top: auto;

    padding-top: 16px;
    padding-bottom: 16px;

    width: 100%;
  }
}
