@use '../../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .EntireMember_Page {
      .ArrHeader_Obj {
        align-items: center;

        border-bottom-width: 4px;

        display: flex;
        flex-direction: row;

        gap: 8px;

        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;

        font-weight: 700;

        ._name_header,
        ._batter_header,
        ._pitcher_header,
        ._total_header,
        ._club_name_header {
          font-weight: 700;
          text-align: center;
        }
      }
    }
  }
}
