.Template {
  .Body {
    .EntireMember_Page {
      .ClubMemberList_Part {
        border-radius: 10px;
        border-width: 4px;
        display: flex;
        flex-direction: column;

        height: fit-content;

        padding-bottom: 32px;

        width: fit-content;

        ._title_part {
          border-bottom-width: 4px;

          font-size: 24px;
          font-weight: 700;

          padding-top: 4px;
          padding-bottom: 6px;

          text-align: center;
          width: 100%;
        }
        ._width_name_part {
          border-right-width: 2px;

          text-align: center;

          width: 140px;
        }
        ._width_batter_part,
        ._width_pitcher_part {
          border-right-width: 2px;
          text-align: center;
          width: 50px;
        }
        ._width_total_part {
          text-align: center;
          width: 50px;
        }

        ._test_member_row_part {
          display: flex;
          flex-direction: row;

          font-size: 14px;
        }
      }
    }
  }
}
