.Template {
  .Body {
    .EntireMember_Page {
      .ClubMemberList_Part {
        display: flex;
        flex-direction: column;

        height: fit-content;
        width: fit-content;

        ._title_part {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}
