.Template {
  .Body {
    .EntireMember_Page {
      .ClubMemberList_Part {
        border-radius: 10px;
        border-width: 4px;
        display: flex;
        flex-direction: column;

        height: fit-content;

        padding-bottom: 32px;

        width: fit-content;

        ._title_part {
          border-bottom-width: 4px;

          font-size: 24px;
          font-weight: 700;

          padding-top: 4px;
          padding-bottom: 6px;

          text-align: center;
          width: 100%;
        }
        ._width_name_part {
          border-right-width: 2px;

          text-align: center;

          width: 140px;
        }
        ._width_batter_part,
        ._width_pitcher_part {
          border-right-width: 2px;
          text-align: center;
          width: 50px;
        }
        ._width_total_part {
          text-align: center;
          width: 50px;
        }

        ._drop_zone {
          height: 4px;
          min-height: 4px;
          transition: background-color 0.2s ease;

          &._drag_over {
            background-color: rgba(0, 123, 255, 0.3);
            height: 8px;
            min-height: 8px;
          }
        }
      }
    }
  }
}
