@use '../../../base/styles/values.scss' as v;

.Template {
  .Header {
    // Header 의 스타일은 Template.scss 에 있음
    .ButtonRow_Part {
      color: v.$SAKURA_TEXT;

      display: flex;
      flex-direction: row;

      height: fit-content;

      margin-left: auto;

      padding-bottom: 8px;
      padding-top: 8px;
      padding-left: 16px;
      padding-right: 16px;

      width: fit-content;

      ._button {
        font-size: 28px;
      }
      ._button:hover {
        font-size: 32px;
      }
    }

    ._title {
      color: v.$SAKURA_TEXT;
      cursor: pointer;

      font-size: 32px;
      font-weight: 700;
      user-select: none;
    }
  }
}
