@use '../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClientCommDoc_Page {
      ._container_page {
        display: flex;
        flex-direction: column;

        height: fit-content;

        width: fit-content;

        ._header_page {
          display: flex;
          flex-direction: row;

          height: fit-content;

          width: 100%;
        }

        ._title_page {
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
  }
}
