$Width_Page_Container: 1200px;
$Width_CommList_Part: 300px;
$Width_CommInfo_Part: 860px;
$Gap_Page_Container: 40px;

.Template {
  .Body {
    .Community_Page {
      align-items: center;
      display: flex;
      flex-direction: column;

      height: fit-content;

      width: 100%;

      ._title_page {
        cursor: pointer;
        font-size: 32px;
        font-weight: 700;
        user-select: none;
      }

      ._page_container {
        display: flex;
        flex-direction: row;
        gap: $Gap_Page_Container;

        height: fit-content;

        margin-top: 24px;
        width: $Width_Page_Container;
      }
      .CommList_Part {
        align-items: center;
        border-color: #000000;
        border-radius: 10px;
        border-width: 2px;

        display: flex;
        flex-direction: column;

        height: 600px;

        overflow: auto;
        position: relative;

        width: $Width_CommList_Part;
      }
      .CommInfo_Part {
        align-items: center;
        border-color: #000000;
        border-radius: 10px;
        border-width: 2px;

        display: flex;
        flex-direction: column;

        height: 600px;

        overflow: auto;

        width: $Width_CommInfo_Part;
      }
    }
  }
}
