.Template {
  .Body {
    .EntireMember_Page {
      .ButtonRow_Part {
        display: flex;
        flex-direction: row;

        gap: 8px;

        margin-top: 32px;
      }
    }
  }
}
