@use '../../base/styles/values.scss' as v;

$LEFTER_HEIGHT: 600px;
$LEFTER_WIDTH: 220px;

.Template {
  .Lefter {
    display: flex;
    flex-direction: row;

    height: fit-content;

    // left: 0px;
    // position: absolute;
    // top: 12px;
    position: fixed;
    top: 84px;
    left: 0px;

    user-select: none;

    width: fit-content;

    z-index: 20;

    ._container_lefter {
      background-color: v.$SAKURA_BG;

      border-color: v.$SAKURA_BORDER;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-width: 2px;

      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

      height: $LEFTER_HEIGHT;

      overflow-x: hidden;
      overflow-y: scroll;

      padding-top: 12px;

      transition: box-shadow 0.4s ease, visibility 0.7s ease, transform 0.7s ease, opacity 0.7s ease;

      width: $LEFTER_WIDTH;

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
      }

      &._close {
        // visibility: hidden;
        transform: translateX(-200px);
        opacity: 0;
        pointer-events: none;
      }

      &._open {
        // visibility: visible;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
