@use '../../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .EntireMember_Page {
      .EMemberRow_Obj {
        align-items: center;
        display: flex;
        flex-direction: row;

        gap: 8px;

        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;

        &:hover {
          background-color: v.$SAKURA_BG;
        }

        ._name_row {
          font-weight: 500;
        }

        ._batter_row,
        ._pitcher_row,
        ._total_row {
          font-weight: 400;
          text-align: right;
        }
      }
    }
  }
}

