@use '../../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .EntireMember_Page {
      .EMemberRow_Obj {
        align-items: center;

        border-bottom-width: 1px;

        display: flex;
        flex-direction: row;

        font-size: 14px;

        &:hover {
          --gkd-block-l-bg: 0.85;
        }

        &._bw_2 {
          border-bottom-width: 2px;
        }

        &._bw_4 {
          border-bottom-width: 4px;
        }

        ._name_row {
          font-weight: 500;
        }

        ._batter_row,
        ._pitcher_row,
        ._total_row {
          font-weight: 400;
          text-align: right;
        }
      }
    }
  }
}
