.Template {
  .Body {
    .ClubRecord_Page {
      width: 100%;

      ._container_page {
        display: flex;
        flex-direction: row;

        gap: 20px;

        height: fit-content;

        justify-content: center;

        margin-left: 240px;
        margin-right: auto;
        margin-top: 16px;

        width: fit-content;
      }
    }
  }
}
