.Template {
  .Body {
    .ClubRecord_Page {
      height: 100%;
      width: 100%;

      * {
        flex-shrink: 0;
      }

      ._container_page {
        display: flex;
        flex-direction: row;

        gap: 24px;

        height: fit-content;

        justify-content: center;

        margin-left: 250px;
        margin-right: auto;
        margin-top: 16px;

        width: fit-content;
      }
    }
  }
}
