@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubRecord_Page {
      .MatchBody_Group {
        color: v.$SAKURA_TEXT;

        tr {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;
          font-size: 14px;
        }

        td {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 2px;
          height: 54px;
          text-align: center;

          &._td_club_name {
            font-weight: 700;
          }

          &._blank {
            background-color: #888888;
          }
          &._duplicate {
            background-color: v.$SAKURA_BG_50;
          }
          &._win {
            background-color: v.$SAKURA_BG_50;
          }
          &._lose {
            background-color: v.$SAKURA_BG_50;
          }
        }
      }
    }
  }
}
