@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubRecord_Page {
      .MatchBody_Group {
        color: v.$SAKURA_TEXT;

        tr {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;
        }

        td {
          border-color: v.$SAKURA_BORDER;
        }
      }
    }
  }
}
