@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubRecord_Page {
      .ScoreHeader_Group {
        color: v.$SAKURA_TEXT;

        tr {
          th {
            border-color: v.$SAKURA_BORDER;
            border-bottom-width: 4px;
            border-right-width: 2px;
            font-size: 18px;
            height: 54px;

            padding-left: 4px;
            padding-right: 4px;

            width: 80px;

            &._th_category {
              border-right-width: 4px;

              width: 104px;
            }
          }
        }
      }
    }
  }
}
