@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubRecord_Page {
      .TableBody_Object {
        color: v.$SAKURA_TEXT;
        cursor: default;

        tr {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;
        }

        .td_br_2 {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 2px;
        }
        .td_br_4 {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 4px;
        }
        .td_br_6 {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 6px;
        }
      }
    }
  }
}
