@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubRecord_Page {
      .TableHead_Object {
        background-color: v.$SAKURA_BG_30;
        color: v.$SAKURA_TEXT;
        font-size: 16px;

        th {
          font-weight: 700;
          padding-top: 2px;
          padding-bottom: 2px;
        }

        ._tr_0 {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;
        }
        ._tr_1 {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;
        }
        ._tr_2 {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;
        }
        ._tr_3 {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 2px;
        }
        ._tr_4 {
          border-color: v.$SAKURA_BORDER;
          border-bottom-width: 6px;
        }

        .th_bd_r_2 {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 2px;
        }
        .th_bd_r_4 {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 4px;
        }
        .th_bd_r_6 {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 6px;
        }

        .th_week_statistic {
          font-size: 18px;
        }
        .th_row_category {
          border-color: v.$SAKURA_BORDER;
          border-right-width: 6px;

          font-size: 18px;
        }

        ._th_week {
          font-size: 16px;
          width: 32px;
        }

        ._th_member_star {
          font-size: 16px;
          width: 28px;
        }
        ._th_member_name {
          font-size: 16px;
          width: 132px;
        }
        ._th_member_batter {
          font-size: 16px;
          width: 52px;
        }
        ._th_member_pitcher {
          font-size: 16px;
          width: 52px;
        }
        ._th_member_total {
          font-size: 16px;
          width: 52px;
        }

        ._th_day_cond {
          font-size: 16px;
          width: 35px;
        }
        ._th_day_result {
          font-size: 16px;
          width: 35px;
        }
        ._th_day_comment {
          font-size: 16px;
          width: 35px;
        }
      }
    }
  }
}
