@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubRecord_Page {
      .Record_SubPage {
        .TeamStatistic_Part {
          margin-left: 16px;
        }
      }
    }
  }
}
