@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClubRecord_Page {
      .Record_SubPage {
        border-color: v.$SAKURA_BORDER;
        border-radius: 10px;
        border-width: 4px;

        height: fit-content;
        width: fit-content;
      }
    }
  }
}
