@use '../../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClientCommDoc_Page {
      .DocContents_Part {
        border-color: v.$SAKURA_BORDER;
        border-radius: 10px;
        border-width: 4px;

        display: flex;
        flex-direction: column;

        height: 520px;

        margin-top: 8px;

        padding-top: 4px;
        padding-bottom: 4px;

        transition: background-color 0.2s ease, box-shadow 0.4s ease;

        width: fit-content;

        &:focus-within {
          background-color: v.$SAKURA_BG_30;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        }
        &:hover {
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        }

        ._contents_editor {
          cursor: default;

          height: 100% !important;

          min-height: 500px;

          outline: none;
          overflow-y: scroll;

          padding-bottom: 4px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;

          resize: none;

          width: 500px;
        }
      }
    }
  }
}
