@use '../../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClientCommDoc_Page {
      .DocContents_Part {
        border-color: v.$SAKURA_BORDER;
        border-radius: 10px;
        border-width: 4px;

        display: flex;
        flex-direction: column;

        height: 520px;

        padding-top: 4px;
        padding-bottom: 4px;

        width: fit-content;

        ._contents_editor {
          height: 100% !important;

          min-height: 500px;

          outline: none;
          overflow-y: scroll;

          padding-bottom: 4px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;

          resize: none;

          width: 500px;
        }
      }
    }
  }
}
