@use '../../../../base/styles/values.scss' as v;

.Template {
  .Body {
    .ClientMain_Page {
      ._title_page {
        color: v.$SAKURA_TEXT;

        font-size: 32px;
        font-weight: 700;
        user-select: none;
      }

      ._container_page {
        display: flex;
        flex-direction: row;

        gap: 40px;

        margin-top: 24px;

        width: fit-content;

        .__PART_COMMON {
          align-items: center;

          border-color: v.$SAKURA_BORDER;
          border-radius: 10px;
          border-width: 4px;

          color: v.$SAKURA_TEXT;
          cursor: default;

          display: flex;
          flex-direction: column;

          height: fit-content;

          overflow: auto;

          position: relative;

          ._title_part {
            border-color: v.$SAKURA_BORDER;
            border-bottom-width: 4px;

            font-size: 24px;
            font-weight: 700;

            padding-top: 4px;
            padding-bottom: 4px;

            text-align: center;
            user-select: none;

            width: 100%;
          }
        }
        .__ROW_COMMON {
          display: flex;
          flex-direction: row;

          width: 100%;

          &:hover {
            background-color: v.$SAKURA_BG;
          }
        }

        .UserList_Part {
          @extend .__PART_COMMON;

          width: 220px;

          ._container_arr_part {
            display: flex;
            flex-direction: column;
            height: 400px;

            overflow: auto;
            width: 100%;
          }
        }
        .ClubList_Part {
          @extend .__PART_COMMON;

          width: 220px;

          ._container_arr_part {
            display: flex;
            flex-direction: column;
            height: 400px;

            overflow: auto;
            width: 100%;
          }
        }
        .MemberList_Part {
          @extend .__PART_COMMON;
        }
      }
    }
  }
}
