@use '../../../../base/styles/values.scss' as v;

.ClientMain_Page {
  .UserList_Part {
    .UserRow_Object {
      cursor: pointer;

      font-size: 18px;
      font-weight: 700;

      padding-left: 8px;
      padding-right: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .AddUser_Button {
      border-color: v.$SAKURA_BORDER;
      border-top-width: 4px;

      cursor: pointer;

      font-size: 18px;
      font-weight: 700;

      padding-top: 8px;
      padding-bottom: 8px;

      width: 100%;

      &:hover {
        background-color: v.$SAKURA_BG_50;
      }
    }
  }
}
