@use '../../base/styles/values.scss' as v;

div.__Modal__Common {
  display: flex;
  flex-direction: column;
}

div.Modal_AddUser,
div.Modal_AddClub {
  @extend div, .__Modal__Common;

  gap: 16px;

  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  > p._title_modal {
    color: v.$SAKURA_TEXT;

    font-size: 28px;
    font-weight: 700;

    user-select: none;
  }

  ._form_add {
    display: flex;
    flex-direction: column;
    gap: 16px;

    ._label_block_form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 20px;
        font-weight: 700;
      }

      input {
        border: 1px solid #d1d5db;
        border-radius: 8px;

        font-size: 16px;

        padding: 8px 16px;
      }
    }

    button._button_form {
      background-color: v.$SAKURA_BG;
      border-radius: 8px;
      color: v.$SAKURA_TEXT_DEEP;
      cursor: pointer;

      font-size: 18px;
      font-weight: 700;

      height: 48px;

      transition: background-color 0.2s;

      &:hover {
        background-color: v.$SAKURA_BG_DEEP_50;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

div.Modal_ModifyUser {
  @extend div, .__Modal__Common;

  gap: 16px;

  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  > p._title_modal {
    color: v.$SAKURA_TEXT;

    font-size: 28px;
    font-weight: 700;

    user-select: none;
  }

  ._form_modify_user {
    display: flex;
    flex-direction: column;
    gap: 16px;

    ._label_block_form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 20px;
        font-weight: 700;
      }

      input {
        border: 1px solid #d1d5db;
        border-radius: 8px;

        font-size: 16px;

        padding: 8px 16px;
      }

      ._button_group_auth {
        display: flex;
        gap: 12px;

        ._button_auth {
          background-color: #f3f4f6;
          border: 2px solid #d1d5db;
          border-radius: 8px;
          color: #6b7280;
          cursor: pointer;

          flex: 1;

          font-size: 16px;
          font-weight: 600;

          padding: 12px 24px;

          transition: all 0.2s;

          &:hover {
            background-color: #e5e7eb;
            border-color: #9ca3af;
          }

          &._selected {
            background-color: v.$SAKURA_BG;
            border-color: v.$SAKURA_TEXT;
            color: v.$SAKURA_TEXT_DEEP;

            font-weight: 700;
          }
        }
      }
    }

    button._button_form {
      background-color: v.$SAKURA_BG;
      border-radius: 8px;
      color: v.$SAKURA_TEXT_DEEP;
      cursor: pointer;

      font-size: 18px;
      font-weight: 700;

      height: 48px;

      transition: background-color 0.2s;

      &:hover {
        background-color: v.$SAKURA_BG_DEEP_50;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
